<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>currency conventer</title>
    <style>
        h1 {text-align: center;}
    </style>
</head>
<body>
<h1>BEST CURRENCY CONVENTER</h1>

<form  method="POST">
    <b>convert from:</b>
    <select name= cfrom method="GET" action="/">
        {% for cf in cfrom %}
        <option value= "{{cf}}" SELECTED>{{ cf }}</option>"
        {% endfor %}
    </select>




<p></p>
<b>convert to  :</b>
<select name= cto method="GET" action="/">
    {% for ct in cto %}
    <option value= "{{ct}}" SELECTED>{{ ct }}</option>"
    {% endfor %}
</select>


<p></p>



    <b><label for="amount">amount:</label></b>
    <input type="number" name="amount" placeholder="1">
    <p></p>
    <button name="forwardBtn" type="submit">convert</button>
</form>


<p></p>




<form  action="/action_page.php">
    <b><label for="Result">Result: {{res}}</label></b>

</form>



</select>
</body>
</html>
